@import '@/uni.scss';

page {
  background-color: $uni-bg-color-grey;
}

.dou-btn-primary {
  color: $uni-color-primary;
}

.dou-bg-primary {
  background-color: $uni-bg-color-grey;
  color: $uni-text-color;
}
