@font-face {
  font-family: 'iconfont'; /* Project id 4483279 */
  src:
    url('//at.alicdn.com/t/c/font_4483279_99hnv65xxow.woff?t=1711525537929') format('woff'),
    url('//at.alicdn.com/t/c/font_4483279_99hnv65xxow.ttf?t=1711525537929') format('truetype'),
    url('//at.alicdn.com/t/c/font_4483279_99hnv65xxow.svg?t=1711525537929#iconfont') format('svg');
}

[class^='dou-'],
[class*=' dou-'] {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dou-qq:before {
  content: '\e65b';
}

.dou-email:before {
  content: '\e621';
}

.dou-password:before {
  content: '\e679';
}

.dou-phone:before {
  content: '\e645';
}

.dou-weixin:before {
  content: '\e8bb';
}

.dou-username:before {
  content: '\e600';
}
