@font-face {
  font-family: 'iconfont'; /* Project id 4483279 */
  src:
    url('//at.alicdn.com/t/c/font_4483279_rklego55dx.woff2?t=1711527922290') format('woff2'),
    url('//at.alicdn.com/t/c/font_4483279_rklego55dx.woff?t=1711527922290') format('woff'),
    url('//at.alicdn.com/t/c/font_4483279_rklego55dx.ttf?t=1711527922290') format('truetype');
}

[class^='dou-'],
[class*=' dou-'] {
  font-family: 'iconfont' !important;
  // font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dou-phone:before {
  content: '\e635';
}

.dou-qq:before {
  content: '\e65b';
}

.dou-email:before {
  content: '\e621';
}

.dou-password:before {
  content: '\e679';
}

.dou-weixin:before {
  content: '\e8bb';
}

.dou-username:before {
  content: '\e600';
}
